# Directorios y archivos a ignorar
__pycache__
lbph.xml
recognize_faces.log 
weights/eigenfaces_noise_fourier.xml
weights/fisherfaces_grayscale.xml
weights/lbph_ycrcb.xml
userData/*
!userData/unknown/



